[submodule "extern/godot-cpp"]
	path = extern/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "extern/llama.cpp"]
	path = extern/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
